body {
    background: url(img/pexels-photo-258045.jpeg) no-repeat center center fixed;
    background-size: cover;
}

.display-4 {
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    color: white;
    text-align: center;
}
.lead {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    color: white;
    text-align: center;
}
.container {
    background-color: rgba(0,0,0,0.5);
    margin: 200px 0 0 0;
    max-width: none;
}

.btn-dark{
    background-color: rgba(0,0,0,0.5);
}

/*
font-family: 'Raleway', sans-serif;
font-family: 'Ubuntu', sans-serif;*/
